<html>
    <head>
        <title>Image Viewr</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Cars <span class="link"><a href="./../">Home</a></span></h1>
        <div class="group">
            <img src="/images/cars/car1.jpeg" />
            <img src="/images/cars/car2.jpeg" />
            <img src="/images/cars/car3.jpeg" />
            <img src="/images/cars/car4.jpeg" />
            <img src="/images/cars/car5.jpeg" />
            <img src="/images/cars/car6.jpeg" />
        </div>
    </body>
</html>
