<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Product Factory</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script type="text/javascript">
            angular.module('app', []);

            angular.module('app').factory('ProductsFactory', ProductsFactory);
            angular.module('app').controller('ProductsController',
                    ['ProductsFactory', ProductsController]);

            function ProductsFactory() {
                var m = {};
                var products = [
                    {name: 'Laptop', price: 699}
                ];

                m.add = addProduct;
                m.delete = deleteProduct;
                m.index = indexProducts;

                function addProduct(product) {
                    if (parseInt(product.price, 10) == product.price) {
                        product.price = parseInt(product.price, 10);
                    } else {
                        return;
                    }

                    products.push(product);
                }

                function deleteProduct(index) {
                    products.splice(index, 1);
                }

                function indexProducts(callback) {
                    callback(products);
                }

                return m;
            }

            function ProductsController(ProductsFactory) {
                var vm = this;

                vm.products = [];
                vm.addProduct = addProduct;
                vm.deleteProduct = deleteProduct;

                getProducts();

                function getProducts() {
                    ProductsFactory.index(function(data) {
                        vm.products = data;
                    });
                }

                function addProduct() {
                    ProductsFactory.add({name: vm.name, price: vm.price});
                    vm.name = '';
                    vm.price = '';
                }

                function deleteProduct(index) {
                    ProductsFactory.delete(index);
                }
            }
        </script>
    </head>
    <body>
        <div ng-controller="ProductsController as PC">
            <form>
                <fieldset>
                    <legend>Products Controller</legend>
                    <label>
                        Product Name <input type="text" ng-model="PC.name">
                    </label>
                    <label>
                        Product Price <input type="number" ng-model="PC.price">
                    </label>
                    <input type="submit" value="Add Product" ng-click="PC.addProduct()">
                    <div ng-show="PC.products.length > 0">
                        <table style="border: 1px solid #ccc; border-spacing: 1px; border-collapes: combine; width: 100%">
                            <thead style="color: #000; background-color: #ddd">
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        Price
                                    </td>
                                    <td>
                                        Actions
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in PC.products track by $index">
                                    <td ng-bind="product.name">
                                    </td>
                                    <td ng-bind="product.price | currency">
                                    </td>
                                    <td>
                                        <button type="button" ng-click="PC.deleteProduct($index)">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
