<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey</title>
        <link rel="stylesheet" href="/styles/style.css" charset="utf-8">
    </head>
    <body>
        <section>
            <article class="survey">
                <h1>Dojo Survey</h1>
                <form action="./result" method="post">
                    <label>Name: <input type="text" name="name" placeholder="Please, type your name."></label>
                    <label>Dojo Location: <select name="location">
                        <option value="chi">Chicago</option>
                        <option value="dal">Dallas</option>
                        <option value="la">Los Angeles</option>
                        <option value="sea">Seattle</option>
                        <option value="sv">Silicon Valley</option>
                        <option value="dc">Washington D.C.</option>
                    </select></label>
                    <label>Favorite Language: <select name="language">
                        <option value="js">Javascript</option>
                        <option value="py">Python</option>
                        <option value="ruby">Ruby</option>
                        <option value="node">Node</option>
                        <option value="swift">Swift</option>
                        <option value="oc">Objective C</option>
                    </select>
                    </label>
                    <label for="comment">Comment:</label>
                    <textarea name="comment" rows="8" cols="40"></textarea>
                    <input type="submit" value="Send Survey" class="button">
                </form>
            </article>
        </section>
    </body>
</html>
